<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get A Move On</title>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  {{!--
  <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
    <div class="flex items-center">
      <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
        <li>
          <a href="/" class="text-gray-900 dark:text-blue-300 hover:underline" aria-current="page">Home</a>
        </li>
      
        <li>
          <id= "logout" class="text-gray-900 dark:text-white hover:underline">Log Out</a>
        </li>
      
        <li>
          <a href="/login" class="text-gray-900 dark:text-white hover:underline">Log In </a>
        </li>
    
        <li>
          <a href="/dashboard" class="text-gray-900 dark:text-white hover:underline">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
  {{{ body }}}
</body>


<script src="/js/logout.js"></script>

</html>