{{!-- <div>
<p>LOGIN PAGE</p>
<button><a href="/clientdash">Log In Client</a></button>
<button><a href="/moverdash">Log In Mover</a></button>
</div> --}}
<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
   <div class="px-6 h-full text-gray-800">
  <div class="max-w-full h-full bg-cover bg-no-repeat bg-center " style="background-image: url(https://pbs.twimg.com/media/FXpkh_GUIAMMLMG?format=jpg&name=medium);">
      

                <div class="grow- shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0" </div>
                    <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
                        <form class="login-form">
                            <div class="flex flex-row items-center justify-center lg:justify-start">

                            
                            <main class="bg-white bg-opacity-40 mx-auto md:p-20    rounded-lg shadow-2xl">
      
                            <div class=" max-w-none max-h-none text-center font-semibold mx-4 mb-8"> SIGN IN

                                <!-- Email input -->
                                <div class="mb-6">
                                    <input type="text"
                                        class="form-control block  px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                        id="email-login" placeholder="Email address" />
                                </div>

                                <!-- Password input -->
                                <div class="mb-6">
                                    <input type="password"
                                        class="form-control block  px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                        id="password-login" placeholder="Password" />
                                </div>

                                <div class="flex justify-between items-center mb-6">
                                    <div class="form-group form-check">
                                        <input type="checkbox"
                                            class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                            id="exampleCheck2" />
                                        <label class="form-check-label inline-block text-gray-800"
                                            for="exampleCheck2">Remember
                                            Me</label>
                                    </div>
                                </div>

                                <div class="text-center lg:text-left">
                                    <button type="button" id="submit-button"
                                        class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                        LOGIN

                                    </button>
                                    <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                                        Don't have an account?
                                        <a href="/signupclient"
                                            class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out">Register as New Client</a>
                                        <a href="/signupmover"
                                            class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out">Register as New Mover</a>
                                    </p>
                                </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>

<script src="./js/login.js"></script>



   
