<!DOCTYPE html>
<html lang="en"> 
</body>
</html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get A Move On</title>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

</head>

<body>


<nav class="bg-gray-50 dark:bg-gray-700">
  <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
    <div class="flex items-center">
      <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
        <li>
          <a href="/" class="text-gray-900 dark:text-blue-300 hover:underline" aria-current="page">Home</a>
        </li>
      
        <li>
          <id= "logout" class="text-gray-900 dark:text-white hover:underline">Log Out</a>
        </li>
      
        <li>
          <a href="/login" class="text-gray-900 dark:text-white hover:underline">Log In </a>
        </li>
    
        <li>
          <a href="/dashboard" class="text-gray-900 dark:text-white hover:underline">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
    <div>
        <img alt="content" class="  px-24 py-5 justify-center" src="https://pbs.twimg.com/media/FYNxhcgX0AUjZ6v?format=png&name=small">
     </div>
      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="https://pbs.twimg.com/media/FYApy-eX0AAhecF?format=jpg&name=medium">
      </div>
      <div>
      <h6 class="font-medium leading-tight text-base text-center mt-0 mb-2 text- block">Crowdsource moving help from other members of your community or to help you earn a little extra money by helping others by providing moving help. ✨</h6>
      </div>

      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center text-gray-400">
           <img alt="content" class="object-cover object-center"
                      src="https://pbs.twimg.com/media/FYDfEnKXgAAn-rq?format=jpg&name=small">
          </div>


    
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Pick A Date</h2>
            <div class="w-52 h-1 bg-blue-400 rounded mt-3 mb-5"></div>
            <p class="text-base">Let us know when you need to get a move on!</p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-28  sm:border-l-1 border-gray sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">We understand moving is hard and can even be short notice! Get a move on allows you to schedule a move even in the toughest time  crunches. </p>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center text-gray-400">
           <img alt="content" class="object-cover object-center"
                      src="https://pbs.twimg.com/media/FYDfElGXwAAdlQv?format=jpg&name=small">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Set Your Price</h2>
         <div class="w-52 h-1 bg-blue-400 rounded mt-3 mb-5"></div>
            <p class="text-base">Set your budget no matter the price and find movers within your price range .</p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-20 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">Our movers are willing to work with you no matter the price! We at get a move on value affordability and want our clients to move within their budget. Never stress, get help from people who can make your budget stretch best!</p>

          </a>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center text-gray-400">
           <img alt="content" class="object-cover object-center"
                      src="https://pbs.twimg.com/media/FYDvzDSXEAYc_9X?format=jpg&name=medium">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Find A Mover</h2>
    <div class="w-52 h-1 bg-blue-400 rounded mt-3 mb-5"></div>
            <p class="text-base">Connnect with the perfect movers for the job.</p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">Meggings portland fingerstache lyft, post-ironic fixie man bun banh mi umami everyday carry hexagon locavore direct trade art party. Locavore small batch listicle gastropub farm-to-table lumbersexual salvia messenger bag. Coloring book flannel truffaut craft beer drinking vinegar sartorial, disrupt fashion axe normcore meh butcher. Portland 90's scenester vexillologist forage post-ironic asymmetrical, chartreuse disrupt butcher paleo intelligentsia pabst before they sold out four loko. 3 wolf moon brooklyn.</p>
        </div>
  </div>
</section>  
</body>
</html>