<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>


<!--Nav bar top-->

</header>

<body>
    <nav class="bg-gray-50 dark:bg-gray-700">
        <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
            <div class="flex items-center">
                <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-medium">
                    <li>
                        <a href="/" class="text-gray-900 dark:text-blue-300 hover:underline"
                            aria-current="page">Home</a>
                    </li>

                    <li>
                        <id= "logout" class="text-gray-900 dark:text-white hover:underline">Log Out</a>
                    </li>

                    <li>
                        <a href="/login" class="text-gray-900 dark:text-white hover:underline">Log In </a>
                    </li>

                    <li>
                        <a href="/dashboard" class="text-gray-900 dark:text-white hover:underline">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
    <!-- input begins -->
    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
                    <p class="mt-1 text-sm text-gray-600">Use your current address.</p>
                </div>
            </div>
            <!-- questionn field -->
            <div class="mt-5 md:mt-0 md:col-span-2">
                <form action="#" method="POST">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="grid grid-cols-6 gap-6">
                                <!-- name -->
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="first-name" class="block text-sm font-medium text-gray-700">First
                                        name</label>
                                    <input type="text" name="first-name" id="first-name" autocomplete="given-name"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>

                                <div class="col-span-6 sm:col-span-3">
                                    <label for="last-name" class="block text-sm font-medium text-gray-700">Last
                                        name</label>
                                    <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                                <!-- gender -->
                                <div class="col-span-6 sm:col-span-4">
                                    <label for="email-address" class="block text-sm font-medium text-gray-700">Gender
                                    </label>
                                    <input type="text" name="email-address" id="gender" autocomplete="email"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                                <!-- email -->
                                <div class="col-span-6 sm:col-span-4">
                                    <label for="email-address" class="block text-sm font-medium text-gray-700">Email
                                        address</label>
                                    <input type="text" name="email-address" id="email-address" autocomplete="email"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                                <!-- Password -->
                                <div class="col-span-6 sm:col-span-4">
                                    <label for="email-address" class="block text-sm font-medium text-gray-700">Password
                                    </label>
                                    <input type="text" name="email-address" id="password" autocomplete="email"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                                <!-- address info -->
                                <div class="col-span-6">
                                    <label for="street-address" class="block text-sm font-medium text-gray-700">Street
                                        address</label>
                                    <input type="text" name="street-address" id="street-address"
                                        autocomplete="street-address"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>

                                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                                    <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                                    <input type="text" name="city" id="city" autocomplete="address-level2"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                                    <label for="postal-code" class="block text-sm font-medium text-gray-700">ZIP /
                                        Postal code</label>
                                    <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- page divide -->
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>

    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Moving Information</h3>
                </div>
            </div>
            <!-- box. start -->
            <div class="mt-5 md:mt-0 md:col-span-2">
                <div class="p-6 border border-gray-150 sm:rounded-md">

                    <label class="block mb-6">
                        <span class="text-gray-700">Moving Address?</span>
                        <input name="name" type="text" id="moving-address" class="
            block
            w-full
            mt-1
            border-gray-300
            rounded-md
            shadow-sm
            focus:border-indigo-300
            focus:ring
            focus:ring-indigo-200
            focus:ring-opacity-50" placeholder="123 green road" />
                    </label>
                    <label class="block mb-6">
                        <span id="moving-floor" class="text-gray-700">Floor?</span>
                        <input name="name" type="text" id="floor" class="
            block
            w-full
            mt-1
            border-gray-300
            rounded-md
            shadow-sm
            focus:border-indigo-300
            focus:ring
            focus:ring-indigo-200
            focus:ring-opacity-50" placeholder="10th" />
                    </label>
                    <label class="block mb-6">
                        <span class="text-gray-700">Moving items total estimate</span>
                        <input name="email" type="email" id="items" class="
            block
            w-full
            mt-1
            border-gray-300
            rounded-md
            shadow-sm
            focus:border-indigo-300
            focus:ring
            focus:ring-red-100
            focus:ring-opacity-50" placeholder="10 boxes, one dresser, 1 TV" />
                    </label>
                    <label class="block mb-6">
                        <span class="text-gray-700">When is your desired moving date ?</span>
                        <input name="birthday" type="date" id="moving-date" class="
            block
            w-full
            mt-1
            border-gray-300
            rounded-md
            shadow-sm
            focus:border-indigo-300
            focus:ring
            focus:ring-red-100
            focus:ring-opacity-50
          " />
                    </label>
                    <!-- apartment type -->
                    <label class="block mb-6">
                        <span class="text-gray-700">What size home are you moving from?</span>
                        <select name="present" id="moving-size" class="
            block
            w-full
            mt-1
            border-gray-300
            rounded-md
            shadow-sm
            focus:border-indigo-300
            focus:ring
            focus:ring-red-100
            focus:ring-opacity-50
          ">

                            <option>Studio</option>
                            <option>1 bedroom</option>
                            <option>2 bedroom</option>
                            <option>3 bedroom</option>
                        </select>
                    </label>
                    <!-- car -->
                    <!-- radio buttons -->

                    </li>
                    </ul>


                    <!-- radio button -->
                    <div class="mb-6">
                        <span class="text-gray-700">Do you have any accessibility issues that will not allow
                            you to help
                            move?</span>
                        <div class="mt-2">
                            <div>
                                <label class="inline-flex items-center">
                                    <input name="season" type="radio" class="
                  text-black
                  border-gray-300
                  rounded-full
                  shadow-sm
                  focus:border-indigo-300
                  focus:ring
                  focus:ring-offset-0
                  focus:ring-indigo-200
                  focus:ring-opacity-50
                " checked />
                                    <span class="ml-2">Yes</span>
                                </label>
                            </div>
                            <div>
                                <label class="inline-flex items-center">
                                    <input name="season" type="radio" class="
                  text-black
                  border-gray-300
                  rounded-full
                  shadow-sm
                  focus:border-indigo-300
                  focus:ring
                  focus:ring-offset-0
                  focus:ring-indigo-200
                  focus:ring-opacity-50
                " />
                                    <span class="ml-2">No</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                    </div>


                    <!-- upload photo -->
                    <div class="flex justify-center mt-8">
                        <div class="rounded-lg bg-gray-50 lg:w-1/2">
                            <div class="m-4">
                                <label class="inline-block mb-2 text-black">Upload
                                    Image(jpg,png,jpeg)</label>
                                <div class="flex items-center justify-center w-full">
                                    <label
                                        class="flex flex-col w-full h-32 border-4 border-dashed hover:bg-gray-100 hover:border-gray-300">
                                        <div class="flex flex-col items-center justify-center pt-7">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                class="w-12 h-12 text-gray-400 group-hover:text-gray-600"
                                                viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                            <p
                                                class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600">
                                                Select a photo</p>
                                        </div>
                                        <input type="file" class="opacity-0" id="profilePicture" />
                                    </label>
                                </div>
                            </div>
                            <div class="flex p-2 space-x-4">
                                <button class="px-4 py-2 text-white bg-red-500 rounded shadow-xl">Cancel
                                </button>
                                <button class="px-4 py-2 text-white bg-blue-500 rounded shadow-xl">Upload</button>
                            </div>
                        </div>
                    </div>
                    <!-- divide -->
                    <div class="py-5">
                        <div class="border-t border-gray-200"></div>
                    </div>

                    <div class="mb-6">
                        <button type="submit" id="register" class="
            h-10
            px-5
            text-indigo-100
            bg-black
            rounded-lg
            transition-colors
            duration-150
            focus:shadow-outline
            hover:bg-blue-500
          ">
                            Send Answers
                        </button>
                    </div>
                    <div>
                        <div class="mt-2 text-gray-700 text-right text-xs">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/register_client.js"></script>

</html>